<!DOCTYPE html>
<html>

<head>
    <title>Simple Calculator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Calculator</h1>
        <input v-model="firstNumber" type="number" placeholder="Enter first number">
        <input v-model="secondNumber" type="number" placeholder="Enter second number">
        <button @click="add">Add</button>
        <button @click="subtract">Subtract</button>
        <button @click="multiply">Multiply</button>
        <button @click="divide">Divide</button>
        <p>The result is: {{ result }}</p>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    firstNumber: 0,
                    secondNumber: 0,
                    result: 0,
                };
            },
            methods: {
                add() {
                    this.result = Number(this.firstNumber) + Number(this.secondNumber);
                },
                subtract() {
                    this.result = Number(this.firstNumber) - Number(this.secondNumber);
                },
                multiply() {
                    this.result = Number(this.firstNumber) * Number(this.secondNumber);
                },
                divide() {
                    if (this.secondNumber != 0) {
                        this.result = Number(this.firstNumber) / Number(this.secondNumber);
                    } else {
                        this.result = "Cannot divide by zero!";
                    }
                },
            },
        });

        app.mount("#app");

    </script>
</body>

</html>